.home-page-container {
    // margin-top: 90px;
    // min-height: 100vh;

    .main-hero {
        height: 100vh;
        position: relative;
        margin-bottom: 20px;
    }

    .home-nav {
        position: absolute;
        height: 4rem;
        width: 70%;
        left: 15%;
        top: 12vh;
        grid-column: 2/-2;
        background-color: $clr11;
        border-radius: 5em;
        z-index: 50;

        *,
        *::placeholder {
            // font-size: 1.05em;
            font-weight: 600;
            color: $clr2;
        }

        > * {
            height: 80%;
        }

        > *:first-child {
            background-color: $clr11;
            // font-size: 1em;
            width: 150px;
            border: none;
            border-right: 1px solid $clr3;
            border-radius: 5em 0 0 5em;
        }

        > * {
            border-right: 1px solid $clr3;
        }

        .el-input,
        input {
            background-color: $clr11;
            height: 100%;
            border: none;
            outline: none;
        }

        .years-range {
            position: absolute;
            font-size: 0.8em;
            top: 70px;
            left: 0;
            height: 5em;
            width: 350px;
            margin: 0;
            background-color: white;
            border: 1px solid $clr4;
            border-radius: 5em;
            outline: none;
            padding: 10px 40px;
            z-index: 20;
        }

        .body-style {
            width: 20%;
        }

        .search {
            width: 50%;
        }

        .go {
            // height: 80%;
            width: 110px;
            margin: 6px;
        }
    }

    .group-container {
        overflow: hidden;
        margin-bottom: 50px;

        // flex-wrap: wrap;
        .img-container {
            width: 200px;
            height: 120px;
            margin: 16px 0;
            border-radius: 10px;

            img {
                border-radius: 10px;
                cursor: pointer;
            }
        }
        > *:not(:last-child) {
            margin-right: 16px;
        }
    }

    .sell-img-container {
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;

        &::before {
            content: "";
            position: absolute;
            border-radius: 10px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.8) 0%,
                rgba(0, 0, 0, 0.7) 30%,
                rgba(0, 0, 0, 0.2) 60%,
                rgba(255, 255, 255, 0) 100%
            );
        }
        img {
            border-radius: 10px;
        }

        div {
            position: absolute;
            top: 10%;
            left: 10%;
            color: $clr11;
            font-size: 1.3em;
        }

        .sell-btn {
            margin-top: 20px;
            font-size: 1.3rem;
            font-weight: 600;
            padding: 10px 20px;
            border: none;
            color: $clr2;

            border-radius: 10px;
            // background-color: ;
        }
    }

    .sort-group-container {
        margin-bottom: 50px;
        .img-container {
            width: 300px;
            height: 200px;
            margin: 16px 0;
            border-radius: 10px;

            img {
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}
