

.login-container {
    position: fixed;
    top: 10vh;
    left: 30%;
    width: 400px;
    height: 50vh;
    z-index: 120;

    .login-button {
        margin-inline-end: 10px;
    }

    .el-card__body {
    }

    h2{
        margin-bottom: 20px;
    }
    .el-button {
        background: $grad1;
    }

    .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 1.5em;
    }
}


.screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $clr1;
    opacity: .8;
    z-index: 100;
}