button {
    cursor: pointer;
}

button.sort-btn {
    padding: 0;
    border: none;
    width: 100px;
    background-color: transparent;
    font-weight: 500;
    border-bottom: 1px solid $clr1;

    &:hover {
        border-bottom: 2px solid $clr1;
        margin-bottom: -1px;
    }
}

button.filter-btn {
    background-color: white;
    border: 1px solid $clr4;
    border-radius: 5em;
    outline: none;
    &:hover {
        // border-color: $clr3;
    }
}
// button.filter-btn {
//     background-color: white;
//     border: 1px solid $clr4;
//     border-radius: 5em;
//     outline: none;
//     &:hover {
//         // border-color: $clr3;
//     }
// }

button.round-main {
    height: 50px;
    padding: 5px 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 2em;
    outline: none;
    font-weight: 600;

    &.bid,
    &.go {
        width: 120px;
        padding: 7px 10px;
        background: $grad1;
        color: $clr11;
        // background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
        // background-image: radial-gradient(
        //     circle at center,
        //     #ff385c 0%,
        //     #e61e4d 27.5%,
        //     #e31c5f 40%,
        //     #d70466 57.5%,
        //     #bd1e59 75%,
        //     #bd1e59 100%
        // );

        // background-repeat: no-repeat;
        // background-attachment: fixed;
        // background-position: center;
    }

    &.watch {
        background-color: $clr11;
        font-size: 2em;
        width: 80px;
        margin-inline-end: 5px;
        path {
            color: $clr3;
        }
        &.active path {
            color: $clr6;
        }
    }
}

.reg-btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1.1em;

    &.back {
        background-color: $clr11;
        border: 1px solid $clr3;
    }

    &.save {
        background-color: $clr6;
        color: $clr11;
    }
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 1.5em;
}

.arrow-btn {
    background-color: $clr11;
    font-size: 2rem;
    color: $clr2;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 3rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.9);
}
