
// COLOR PALETTE
$clr1: #202020;
$clr2: #505556;
// $clr2: #3F3F3F;
$clr3: #ABB0B2;
// $clr3: #707070;
$clr4: #DCE1E3;
$clr5: #F5F5F5;
$clr6: #7918F2;
$clr10: #E3E3E3;
$clr11: #F6F6F8;
$clr12: #FF5A5F;
// $clr12: #FF5A5F;
$clr13: #00A699;

$grad1: linear-gradient(to right, #AC32E4 0%, #7918F2 100%) no-repeat center;
// $grad1: linear-gradient(to right, #AC32E4 0%, #7918F2 48%, #4801FF 100%) no-repeat center;
// $grad1: linear-gradient(to right, #cc208e 0%, #6713d2 50%, #6713d2 100%) no-repeat center;


// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 1030px;


