
// COLOR PALETTE
$clr1: #202020;
$clr2: #3F3F3F;
$clr3: #707070;
$clr4: #DCE1E3;
$clr5: #F5F5F5;
$clr6: #FFDF6C;
$clr10: #E3E3E3;
$clr11: #F6F6F8;
$clr12: #FF5A5F;
// $clr12: #FF5A5F;
$clr13: #00A699;


// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 1030px;


